<h3>{{categoria.nome}}</h3>
<hr>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
        <hr>
        <!--
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        -->
        <small>Data da publicação: {{data}}</small>
    </div>    

</div>
{{else}}
    <h5>Nenhuma postagem encontrada</h5>
{{/each}}
